body {
    display: flex;
}

.columna1fila2,
.columna2fila2,
.columna3fila2 {
    height: 150px;
}

.columna1fila2,
.columna3fila2 {
    width: 25%;
}

.columna2fila2 {
    width: 50%;
}

div {
    border: 1px solid black;
}
